@charset "utf-8";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}

:root {
  --about-background-color: #91919131;
  --html-background-color: #91919131;
  --css-background-color: #91919131;
  --js-background-color: #91919131;
}
body {
  font-family: 'Poppins', 'Noto Sans JP', sans-serif;
  width: 100vw;
  height: auto;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
  /* overflow-y: auto; */
  position: relative;
}

header {
  width: 100%;
  position: absolute;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
header .logo-space {
  width: 15%;
  font-size: 2rem;
  font-weight: bolder;
  margin: 2%;
}
header .logo-space .logo {
  width: 100%;
}
header .list {
  width: 50%;
  margin-right: 10%;
  text-align: right;
}
header .list a {
  margin-left: 8%;
  position: relative;
}
header .list a .border {
  position: absolute;
  bottom: -10%;
  left: 0;
  display: inline-block;
  width: 0%;
  height: 10%;
  background: -webkit-linear-gradient(left, #ff26fb, #00b3ff, #96cb4b);
  z-index: 10;
  transition: all 0.5s;
}
header .list a:hover {
  background: -webkit-linear-gradient(left, #ff26fb, #00b3ff, #96cb4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color_position 5s ease-in infinite alternate;
  transition: all 5s;
}
header .list a:hover .border {
  width: 100%;
}

/* MENUボタン */
.toggleMenu {
  width: 15%;
  height: 8vh;
  margin-right: 3%;
  display: none;
  font-size: 2rem;
}
.toggleMenu span {
  font-size: 36px;
  padding: 15%;
}

main {
  width: 100vw;
  height: auto;
  background-image: url(../img/jean-philippe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main .hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
main .hero::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #000000ca;
  backdrop-filter: blur(10px);
  z-index: 10;
  animation: open 1.5s ease-in 1s forwards;
}
@keyframes open {
  100% {
    width: 0;
    opacity: 0;
  }
}

.hero h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  white-space: nowrap;
  background: -webkit-linear-gradient(left, #ff26fb, #00b3ff, #96cb4b);
  -webkit-background-clip: text;
  color: transparent;
  animation: color_position 5s ease-in infinite alternate;
  transition: all 5s;
  word-spacing: 1.1rem;
}
.hero .caption-list {
  width: 70%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 10%;
}
.hero .caption-list .caption {
  width: 25%;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  padding: 2%;
  background-color: #91919131;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  transform: translateY(100%);
  transition: all 0.5s;
  opacity: 0;
}
.caption-list .caption h2 {
  font-weight: 400;
}
.caption-list .caption p {
  font-size: 1.2rem;
}
.hero .caption.highlighted {
  transform: translateY(0);
  opacity: 1;
}
.hero .caption.highlighted:nth-child(2) {
  transition-delay: 0.3s;
}
.hero .caption.highlighted:nth-child(3) {
  transition-delay: 0.6s;
}

.hero .caption-list .caption:hover {
  background: -webkit-linear-gradient(left, #ff26fb, #00b3ff, #96cb4b);
  -webkit-background-clip: text;
  color: transparent;
  animation: color_position 5s ease-in infinite alternate;
  transition: all 5s;
}

/* カラーアニメーション */
@keyframes color_position {
  0% {
    background: -webkit-linear-gradient(left, #ff26fb, #00b3ff, #96cb4b);
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: -webkit-linear-gradient(right, #ff26fb, #00b3ff, #96cb4b);
    -webkit-background-clip: text;
    color: transparent;  
  }
  100% {
    background: -webkit-linear-gradient(left, #ff26fb, #00b3ff, #96cb4b);
    -webkit-background-clip: text;
    color: transparent;  
  }
}

/* Container共通 */
.container {
  width: 100%;
  height: auto;
}
.container .contents-title {
  width: 100%;
  text-align: center;
  padding-bottom: 10%;
  font-size: 1.5rem;
}
.contents {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
}

/* Container-bar */
.container-bar {
  width: 100%;
  height: 5vh;
  background-image: url(../img/bar-back.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Aboutセクション */
.about-container {
  width: 100%;
  height: 100%;
  background-color: var(--about-background-color);
}
.about-container .contents-list {
  width: 90%;
  padding-bottom: 10%;
  position: relative;
}

.contents-list .icon {
  width: 15%;
  aspect-ratio: 1;
  display: block;
  font-size: 4rem;
  background-color: #cb4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.contents-list .icon:hover {
  transform: scale(1.5);
} 
.contents-list .list {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transform: translateX(0);
  transition: all 0.5s;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.contents-list .list.active {
  transform: translateX(50%);
  width: 80%;
  opacity: 1;
}
.contents-list .list p {
  font-size: 2rem;
  padding-bottom: 20px;
}
.contents-list .list a {
  font-size: 1.7rem;
  margin-left: 20%;
}

/* htmlセクション */
.html-container {
  width: 100%;
  height: 100vh;
  background-color: var(--html-background-color);
  position: relative;
}
.html-container .contents i {
  display: block;
  width: 20px;
  color: #cb4b4b;
}


/* cssセクション */
.css-container {
  width: 100%;
  height: 100vh;
  background-color: var(--css-background-color);
  position: relative;
}
.css-container .bubble {
  width: 40%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/bubble2.png) no-repeat 50% 50%;
  background-size: cover;
  mix-blend-mode: difference;
  transform-origin: center;
}
.css-container .bubble.active {
  animation: moveBubble 8s linear infinite alternate;
}
@keyframes moveBubble {
  from {
    left: -100%;
  }
  to {
    left: 150%;
  }
}


.css-container h2 {
  padding: 0 15%;
  font-size: 3rem;
  color: #00ffe5b3;
  text-align: center;
  word-spacing: 0.5em;
}
.css-container .text {
  font-size: 1.5rem;
  text-align: center;
  padding: 2% 15%;
  color: #ff0000;
}

.css-container h2.active {
  animation: slider 8s linear infinite alternate;
}
.css-container .text.active {
  animation: slider 8s linear infinite alternate-reverse;
}
@keyframes slider {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.css-container .bubble2 {
  position: absolute;
  top: 10%;
  left: 0;
  width: 20%;
  cursor: pointer;
  z-index: 100;
}
.css-container .piece {
  position: absolute;
  top: 10%;
  right: 0;
  width: 10%;
  cursor: pointer;
  margin-right: 5%;
  z-index: 100;
}


/* javaScriptセクション */
.js-container {
  width: 100%;
  height: 100vh;
  background-color: var(--js-background-color);
  position: relative;
}

/* Footer */
.site-map {
  width: 100%;
  height: 50vh;
  background-color: #9191915e;
}


@media screen and (max-width: 768px) {
  
  /* Toggleメニュー */
  .toggleMenu {
    display: block;
    cursor: pointer;
  }
  .menu,
  .close {
    display: none;
  }
  .menu.active,
  .close.active {
    display: block;
  }

  /* Headerロゴ */
  header .logo-space {
    width: 20%;
    font-size: 1.8rem;
    transform: translateY(0);
  }

  /* Headerリスト */
  header .list {
    position: absolute;
    width: 25%;
    display: flex;
    flex-direction: column;
    top: 100%;
    right: 0;
    transform: translateX(150%);
    transition: all 0.5s;
  }
  header .list.active {
    transform: translateX(0);
  }
  header .list a {
    margin-left: 0;
  }

  /* Heroヘッドライン */
  .hero {
    background-color: #00ff512e;
    height: 150vh;
  }
  .hero h1 {
    top: 23%;
    font-size: 2rem;
    white-space: inherit;
  }

  /* Captionリスト */
  .hero .caption-list {
    width: 80%;
    flex-direction: column;
    top: 60%;
  }
  .hero .caption-list .caption {
    width: 100%;
    font-size: 1rem;
  }
  
    /* Aboutセクション */
  .about-container .contents-list {
    margin-bottom: 15%;
  }
  .contents-list .material-symbols-outlined {
    width: 30%;
  }
  

}

