@charset "utf-8";

.first-view {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
}


.first-view-text {
  width: 40%;
  margin: 10% auto auto 5%;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
  font-size: 3.5rem;
  line-height: 2;
}

.first-view-text p {
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.6;
}

.lead {
  width: 80%;;
  margin: 10% auto;
}

.lead p {
  line-height: 2;
  text-align: center;
}

.link-button-area {
  width: 100%;
  text-align: center;
  margin: 8% auto;
}

.link-button {
  background-color: var(--accentColor);
  color: #fff;
  display: inline-block;
  width: 30%;
  line-height: 3em;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
}

.link-button:hover {
  background-color: transparent;
  color: var(--accentColor);
  border: 1px solid var(--accentColor);
}

.recommended {
  width: 80%;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding: 5%;
  color: #7a2424;
}

.recommended h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.recommended h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #7a2424;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: scroll;
}

.item-list li {
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
}

.item-list li:first-child {
  margin-left: 0;
}

.item-list dl {
  margin-top: 20px;
}

.item-list dt {
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.item-list .price {
  font-weight: bold;
  margin-top: 15px;
}

@media (max-width: 800px) {
  .first-view {
    height: 60vh;
  }

  .first-view-text {
    width: 80%;
    padding-top: 60px;
    padding-left: 20px;
  }

  .first-view-text h1 {
    font-size: 2.5rem;
    line-height: 2;
  }

  .first-view-text p {
    font-size: 1em;
    margin-top: 15px;
  }

  .lead {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lead p {
    text-align: left;
    font-size: 14px;
  }

  .item-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-list li {
    width: 220px;
    margin-left: 30px;
  }

  .link-button {
    width: 40%;
  }
  
}