@charset "utf-8";

.title {
  height: 50vh;
  background-image: url(../img/straw.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.title p {
  font-size: 1em;
  margin-top: 15px;
}

.menu-text {
  width: 80%;
  margin: 8% auto;
}

.menu-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 30px;
  color: var(--accentColor);

}

.menu-text h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: var(--accentColor);
  margin-top: 20px;
}

.menu-text p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 25px;
}


.item-list {
  width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  column-gap: 95px;
  row-gap: 70px;
  justify-content: center;
}

.item-list dl {
  margin-top: 20px;
}

.item-list dt {
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.item-list .price {
  font-weight: bold;
  margin-top: 15px;
}

.item-list li {
  position: relative;
}

.item-list .item-label {
  position: absolute;
  top: 0;
  left: calc(100% + 18px);
  font-size: 10px;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(90deg);
}

.footer {
  margin-top: 100px;
}

@media (max-width: 800px) {
  .item-list {
    margin-top: 45px;
    row-gap: 40px;
  }
}