@charset "utf-8";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}

body {
  font-family: 'Noto Sans JP', 'PT Serif', sans-serif;
}

