@charset "utf-8";


body {
	color: #555;
    font-family: "Noto Serif JP", serif;
	background-color: #FFF9E4;
}

img {
    max-width: 100%;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 32px;
}


/* マウスストーカー */
#js-mouse {
    pointer-events: none;
    position: fixed;
    top: -15px; 
    left: -15px;
    width: 30px;
    height: 30px;
    background-color: #555;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.3s ease-out;
    z-index: 9999;
    opacity: 0;
}


/* ヘッダー */
.header-inner {
    max-width: 1000px;
    width: 100%;
    height: 115px;
    padding: 40px 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 270px;
    height: auto;
}

.header-inner .tel {
    font-size: 32px;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-icon .member {
    width: 70px;
    height: auto;
}

.header-icon .cart {
    width: 40px;
    height: 40px;
}
/* ヘッダー終わり */


.top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 120px;
}


/* サイドバー */
.sidebar {
    width: 30%;
    color: #AB764F;
    position: sticky;
    top: 10px;
}

.sidebar .heading {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    position: relative;
}

.sidebar .heading::after {
    content: " ";
    width: 270px;
    border-bottom: 1px solid #AB764F;
    position: absolute;
    bottom: 0;
}

.sidebar .heading img {
    width: 50px;
    height: auto;
}

.sidebar .category ul {
    margin-bottom: 50px;
}

.sidebar .category ul li {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sidebar .category ul li:last-child,
.sidebar .ranking ul li:last-child {
    margin-bottom: 0;
}

.sidebar .ranking ul li {
    position: relative;
}

.sidebar .ranking ul li::after {
    content: " ";
    width: 270px;
    border-bottom: 1px solid #ab754f;
    position: absolute;
    bottom: -5px;
}

.sidebar .ranking ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    margin-bottom: 20px;
}

.ranking-photo img {
    width: 100px;
    height: auto;
}

.ranking-content .number {
    font-size: 24px;
    margin-bottom: 10px;
}

.ranking-content .text {
    font-size: 12px;
}


/* カテゴリー別一覧 */
.main-content {
    width: 70%;
}

/* コンセプト */
.concept {
    margin-bottom: 210px;
}
.concept img {
    width: 820px;
    height: auto;
}

.concept-text {
    writing-mode: vertical-rl;
    background-color: #fff;
    border: 1px solid #000;
    padding: 40px 100px 60px;
    margin-top: 30px;
}

.concept .title {
    font-size: 40px;
    color: #5A9F4D;
    padding-left: 60px;
}

.concept .sub-title {
    font-size: 24px;
    padding-left: 60px;
}

.concept .letterOne {
    font-size: 20px;
    line-height: 40px;
    padding-left: 80px;
}

.concept .letterTwo {
    font-size: 20px;
    line-height: 65px;
}


/* トップページ商品一覧共通項目 */
.breadcrumb {
    margin-bottom: 24px;
    position: relative;
}

.breadcrumb .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-left: 2px solid #AB764F;
    border-bottom: 2px solid #AB764F;
    transform: rotate(-135deg);
}

.breadcrumb .breadcrumb-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    padding-left: 20px;
}

.breadcrumb .even {
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 20px;
}

.breadcrumb-list img {
    width: 30px;
    height: auto;
}

.breadcrumb-list::after,
.breadcrumb-list .even::after {
    content: " ";
    width: 240px;
    border-bottom: 1px solid #AB764F;
    position: absolute;
    bottom: -10px;
}

.breadcrumb-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.commodity {
    margin-bottom: 100px;
}

.commodity:last-child {
    margin-bottom: 0;
}

.commodity-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 40px;
    row-gap: 30px;
    place-content: center;
}

.commodity-content img {
    width: 100%;
    height: 210px;
    margin-bottom: 16px;
}

.commodity-content .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* 個人情報保護方針ページ */
.privacy-policy {
    margin-top: 80px;
    margin-bottom: 125px;
    margin-left: 20%;
    margin-right: 20%;
}

.privacy-policy h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 90px;
}

.privacy-item {
    margin-bottom: 57px;
}

.privacy-policy h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.privacy-item {
    border-left: 2px solid #5A9F4D; /* 線のスタイルを定義 */
    padding-left: 57px;
}

/* 特定商取引法に基づく表記ページ */
.tokuteisyotorihiki {
    margin-top: 80px;
    margin-bottom: 125px;
    margin-left: 20%;
    margin-right: 20%;
}

.tokuteisyotorihiki h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 90px;
}

td:first-child {
    width: 240px;
    vertical-align: middle;
}

td:nth-child(even) {
    vertical-align: middle;
}

table {
    width: 100%;
}

table tr {
    height: 60px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(6) {
    height: 180px;
}

tr:nth-child(8) {
    height: 160px;
}

/* フッター */
.footer-inner {
    background-color: #F2BF08;
    padding: 120px 0 90px;
}

.footer-inner a {
    display: block;
    text-align: center;
}

.footer-logo {
    width: 320px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.footer-inner ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner ul li {
    font-size: 24px;
    color: #fff;
    padding: 40px 100px;
    border-right: 1px solid #fff;
}

.footer-inner ul li:last-child {
    border-right: none;
}