@charset "utf-8";

/* おすすめ商品ページ */
.recommend-fv-img {
    text-align: center;
    position: relative;
    width: 100%;
    height: 530px;
}

.recommend-img {
    width: 1000px;
    height: 530px;
    object-fit: cover;
    object-position: center;
}

.recommend-label {
    width: 300px;
    height: auto;
    position: absolute;
    top: 2%;
    left: 14%;
}

/* 特集 */
.feature {
    background-color: transparent;
}

.feature .recommendation {
    transform: scale(1.5);
    border: 10px solid #5A9F4D;
    border-radius: 50%;
}

.feature .gift,
.feature .limitedTime,
.feature .review {
    opacity: 50%;
}

/* おすすめ商品一覧 */
.breadcrumb {
    margin-left: 10%;
    margin-bottom: 50px;
}

.recommend-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 40px;
    row-gap: 30px;
    place-content: center;
    margin-bottom: 100px;
    margin-left: 9%;
    margin-right: 9%;
}

.recommend-content img {
    width: 100%;
    height: 210px;
    margin-bottom: 16px;
}

.recommend-content .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.recommend-content a {
    display: block;
}

.recommend-content a:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}


@media (max-width: 1100px) {
    .recommend-label {
        width: 210px;
        left: 0%;
    }

}

@media (max-width: 800px) {
    .recommend-fv-img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .recommend-img {
        width: 100%;
        height: auto;
    }

    /* .gift-fv-img {
        height: calc(100vh - 150px);
        position: relative;
    } */

    /* .a {
        height: calc(100vh - 150px);
        background-image: url(./img/recommend-img-responsive.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    } */

    .recommend-label {
        width: 170px;
        left: 0%;
    }

    /* .recommend-img {
        display: none;
    } */

    .feature {
        display: none;
    }
}

@media (max-width: 675px) {
    .recommend-content .name {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .recommend-content {
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .recommend-content img {
        width: 100%;
        height: auto;
        margin-bottom: 8px;
    }
    
    .recommend-label {
        width: 120px;
        left: 0%;
    }

    

    
}
