@charset "utf-8";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-image: url(../image/moon-1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 20%;
  left: 5%;
  background-color: transparent;
  z-index: 10;
}

header nav .cat {
  width: fit-content;
  color: #fff;
  margin-bottom: 3%;
  text-shadow: 3px 3px 2px#000000;
}
header nav .cat:hover {
  font-size: 1.2rem;
  transform: translate(4% -2%);
}

header nav .cat1 {
  padding-left: 0;
  transform: translateX(-200%);
  animation: nav 1s ease-in forwards;
  animation-delay: 0.5s;
  transition: all 1s;
}
header nav .cat2 {
  padding-left: 2%;
  transform: translateX(-200%);
  animation: nav 1s ease-in forwards;
  animation-delay: 1s;
  transition: all 1s;
}
header nav .cat3 {
  padding-left: 4%;
  transform: translateX(-200%);
  animation: nav 1s ease-in forwards;
  animation-delay: 1.5s;
  transition: all 1s;
}
header nav .cat4 {
  padding-left: 6%;
  transform: translateX(-200%);
  animation: nav 1s ease-in forwards;
  animation-delay: 2s;
  transition: all 1s;
}

@keyframes nav {
  to {
    transform: translateX(0);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.container::-webkit-scrollbar{
  display: none;
}
.container section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-margin-left: 100px;
}
.container section .caption {
  text-align: center;
  height: fit-content;
}

.container .no1 {
  background-color: #ff000045;
  color: #ffffff;
  text-shadow: 2px 2px 0px#000000;
}
.container .no2 {
  background-color: #f2ff0045;
  color: #ff9100;
  text-shadow: 2px 2px 0px#000000;
}
.container .no3 {
  background-color: #00ff4c45;
  color: #f6ff00;
  text-shadow: 2px 2px 0px#000000;
}
.container .no4 {
  background-color: #8800ff45;
  color: #ff8ad4;
  text-shadow: 2px 2px 0px#000000;
}

