.animation-hero {
    background-image: url(../javascript.img/javascript-hero.jpg);
}
.main {
    width: 100vw;
    position: relative;
    background-color: #e1e1e1;
}

.content-all {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(60deg, rgba(0, 198, 191, 0.552) 0%, rgba(255, 112, 193, 0.668) 50%, rgba(255, 0, 0, 0.597) 100%);
    clip-path: circle(30% at 5% 20%);
    z-index: 0;

}
.span2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-30deg, rgba(240, 255, 142, 0.558) 0%, rgba(112, 255, 191, 0.536) 50%, rgba(255, 0, 0, 0.53) 100%);
    clip-path: circle(40% at 100% 20%);
}
.span3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(142, 255, 146, 0.558) 0%, rgba(255, 0, 144, 0.536) 50%, rgba(60, 0, 255, 0.53) 100%);
    clip-path: circle(60% at 40% 150%);
}
.span4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(242, 0, 255, 0.558) 0%, rgba(255, 207, 112, 0.536) 65%, rgba(0, 255, 4, 0.53) 100%);
    clip-path: circle(15% at 60% 60%);
    z-index: 0;
}
.span5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(750deg, rgba(0, 255, 247, 0.558) 0%, rgba(255, 112, 193, 0.536) 50%, rgba(255, 119, 0, 0.53) 100%);
    clip-path: circle(5% at 45% 25%);
    z-index: 0;
}


.card {
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 20px 20px 50px #0000007c;
    background-color: #ffffff32;
    z-index: 2;
    backdrop-filter: blur(5px);
}
.content {
    text-shadow: 3px 3px 4px #0000007c ;
}

.card .content {
    padding: 20px;
    transform: translateY(200px);
    opacity: 0;
    transition: 0.5s;
    position: relative;
}

.card:hover .content {
    transform: translateY(0);
    opacity: 1;
}

.card .content h2 {
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 6rem;
    color: #0000007b;;
}

.card .cotent h3 {
    color: #fff;
    font-size: 1.6em;
}

.card .cotent p {
    color: #fff;
    font-weight: 300;
}

.card .content a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 10px 5px 15px #0000006a;
}




