@charset "utf-8";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;  
}

img {
  width: 100%;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 18px;
  color: #291400;
  line-height: 2;
  background-color: #A41713;
}

main {
  width: 100%;
}

/* ヘッダー */
.content {
  height: 470px;
  width: 100%;
  background-image: url(../image/cheader.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* ヘッダー */

/* メインここから */

.item-area {
  color: #f1ecE5;
  width: 90%;
  height: auto;
  background-color: #320A01;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 70px;
  text-align: center;
  z-index: 5;
  position: relative;
}

.title h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 450%;
  text-align: center;
}

.item-list {
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,300px);
  column-gap: 50px;
  row-gap: 70px;
  justify-content: center;
}

.p {
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
}

.p-res {
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
}
.p-res1 {
  display: none;
}

.item-list dl {
  margin-top: 20px;
}

.item-list dt {
  height: 216px;
}

.item-list dd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 70px;
  margin: 20px auto 0 auto;
  background-color: #DBB13D;
  border-radius: 30px;
  font-size: 120%;
  color: #291400;
  transition: 0.5s;
}

.item-list dd:hover {
  transform: scale(0.98);
  background-color: #c49e37;
}

.item-list .price {
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
}

.item-list li {
  position: relative;
}
.item-list .item-label {
  position: absolute;
  top: 0;
  left: calc(100% + 18px);
  font-size: 10px;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(90deg);
}



.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px auto 40px auto;
}

.mainbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px;
  background-color: #DBB13D;
  border-radius: 30px;
  z-index: 5;
  transition: 0.5s;
}

.mainbutton:hover {
  transform: scale(0.98);
  background-color: #c49e37;
}

.mainbutton p {
  font-size: 150%;
  font-weight: bold;
}

.familybutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 80px; 
  background-color: #DBB13D;
  border-radius: 30px;
  z-index: 5;
  transition: 0.5s;
}

.familybutton:hover {
  transform: scale(0.98);
  background-color: #c49e37;
}

.familybutton p {
  font-size: 150%;
  font-weight: bold;
}
/* メインここまで */

.footer {
  width: 100%;
  height: 504px;
  background-image: url(../image/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

@media (max-width: 700px) {
  main {
    width: 100%;
  }

  .content {
    width: 100%;
    height: 200px;
    background-image: url(../image/couple-sp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    }

    .title h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 120%;
      text-align: center;
    }
    
    .item-area {
    color: #f1ecE5;
    width: 95%;
    height: auto;
    background-color: #320A01;
    margin: 0 auto;
    border-radius: 70px;
    text-align: center;
    z-index: 5;
    position: relative;
  }
  

  .item-list {
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,85px);
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
  }

  .item-list dd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    margin: 0 auto;
    background-color: #DBB13D;
    border-radius: 30px;
    font-size: 50%;
    color: #291400;
    transition: 0.5s;
  }

  .p {
    font-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .p-res {
    display: none;
  }
  .p-res1 {
    display: block;
    font-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  dt {
    display: none;
  }
  
  .button {
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto 40px auto;
  }
  
  .mainbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    background-color: #eec040;
    border-radius: 30px;
    z-index: 5;
    transition: 0.5s;
  }
    
  .mainbutton p {
    font-size: 70%;
    font-weight: bold;
  }
  
  .familybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    background-color: #eec040;
    border-radius: 30px;
    z-index: 5;
    transition: 0.5s;
  }
  
  .familybutton p {
    font-size: 70%;
    font-weight: bold;
  }
  
  .footer {
    height: 200px;
  }
  
}