@charset "utf-8";
body{ background-color: rgb(45, 43, 43);
    width: 100%;
    height: 1500px;
    color:#fff;
    text-align: center;
    position: relative;
}
body::before {
    display: inline-block;
    position: absolute;
    position: fixed;
    content: url(../img/onewall1透過済.png);
    width: 120px;
    top: 0;
    left: 0;
    z-index: 10;
}
body #btn {
  width: 10%;
  aspect-ratio: 1;
  background-color: #ff0000;
    display: inline-block;
    position: absolute;
    position: fixed;
    content: url(../img/onewall1hover試作3.png);
    bottom: -5%;
    right: 0;
    z-index:10;
}
/*
body::before{
    content: "";
    position: absolute;
  background-image: url(../img/oneWall.png);
  background-repeat: repeat-y;
  top: 0;
  left: 0;
}
*/
main{
     background-color: rgb(45, 43, 43);
    width: 1500px;
    height: 600px;
    color:#fff
}
header {
    width: 1500px;
}
.header-logo{
width: 900px;
margin: 0 300px;
}
.header-logo img {
    width: 300px;
    height: 300px;
}
.header-list{
    display: flex;
    justify-content: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 50px;
}
.header-list li{
    margin: 0 auto
}
.header-list li a:hover{
    background-color: #251AED;
}
.main-contents{
    display: flex;
    margin: 0 300px;
}
.main-contents h1{
    display: inline-block;
    font-size: 35px;
    background-color: #fff;
    color: black;
    border-radius: 20% 30% 30% 20%;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.fox{
    margin: 50px;
}
p{
    padding-left:50px;
    line-height: 30px;
}
.news{
    background-color: #DA2929;
    display: inline-block;
    padding: 50px 20px;
    margin: 30px;
    border-radius: 20%;
}
.news>ul{
    height:200px;
    overflow: hidden scroll;
}
.news>ul>li{
    padding:20px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 30px;
}
.news>ul>li>a:hover{
    background-color: #251AED;
}
.newsW>a>img{
  width: 250px;
  height: 200px;
  margin-left:30px ;
}
footer{
    display: inline-block;
    width: 1500px;
    background-color: black;
    padding: 40px;
    text-align: center;
    margin-top: 400px;
}