@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  font-size: 16px;
  color: #482426;
  line-height: 1;
  background-color:#F7DFD4;
  width: 100%;
  font-family: "Hina Mincho", serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}
.page-content {
  margin-bottom: 50px;
}
.content-title {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    margin: 50px auto 0;
    padding: 0;
    color: #FF858C;

}  

.content-title h1::after {
    content: "";
    display: block;
    width: 23%;
    height: 2px;
    background-color: #482426;
    margin: 15px auto;
  }

.shop-policy-body {
 margin: 0 15% 0 15%;
 line-height: 2;
}

h2{
  margin-top: 30px;
}


.shop-policy-body li {
  list-style-type: disc;
  margin-left: 1.4em;
}

.shop-policy-body h2 a {
  color: #ffa9a9;
}




@media (max-width: 768px) {

  header {
    height: 15vh;
}  
.menubutton {
  position: fixed;
  width: 7%;
  height: 40px;
  left: 5%;
  cursor: pointer;
  z-index: 2147483646;
  margin: 0;
  padding: 0;
  }
  .menubutton span {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 5px;
  background: #fff;
  transition: all .8s;
  z-index: 20000;
  }
  .menubutton span:first-child {
  top: 5%;
  }
  .menubutton span:nth-child(2) {
  top: 35%;
  }
  .menubutton span:last-child {
  top: 65%;
  }
  .menubutton.open span:first-child {
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  }
  .menubutton.open span:nth-child(2) {
  opacity: 0;
  }
  .menubutton.open span:last-child {
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  }
  .menu {
    top: -100%;
    width: 100%;
    height: 100%;

    transition: all .5s;
    position: fixed;
  }
  .menu.open {
    top: 0;
    bottom: 0;
  }  
  .header-inner {
    width: 100%;
    margin: 0;
    padding: 5px 0;
  }
    

  .menu ul {
      background-color: #000000;
      list-style: none;
      height: 100%;
      width: 100%;
      z-index: 21474837;
      opacity: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: scroll;
      margin: auto 0;
      padding: 0;
  }
  .menu li {
      font-size: 15px;
      font-weight: bold;
      line-height: 2;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 555;
  }
  .menu details {
    display: block;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .menu details li {
    margin: 0;
    padding: 20px 0 40px;
    font-size: 15px;
  }
  .cart-icon {
    top: 5%;
    right: 5%;
  }
.shop-menu {
  display: none;
}

.content-title h1::after {
  width: 40%;
}

  

.menu1, .menu2{
  display: flex;
}

.menu1 {
  margin-bottom: 20px;
}

.menu2 {
  margin-bottom: 50px;
}

.detail, .inoquery {
  margin-left: 100px;
}

.item1 {
  display: flex;
  margin-bottom: 20px;
}

.main-item {
  margin-left: 90px;
}

.gorgeous-item{
  text-align: left;
}

}
  .site-menu2 ul {
    margin-bottom: 50px;
    margin-left: 100px;
  }

  .site-menu3 ul {
    text-align: left;
    margin-left: 100px;
    margin-bottom: 100px;
  }
