@charset "utf-8";

/* MAIN CONTENTS */
.main-contents {
  width: 100%;
  padding: 5% 5% 5% 5%;
  position: relative;
}

.flower {
  width: 30%;
  position: absolute;
  top: 10;
  right: 5%;
  transform: rotate(-20deg);
  opacity: 0.4;
}
.flower:nth-child(2) {
  top: 210px;
  left: 10%;
  width: 40%;
  filter: invert(50%);
  z-index: -1;
}

.main-contents .contents-title {
  margin-top: 5%;
}
.main-contents .title {
  margin-bottom: 3%;
}
.main-contents .title2 {
  font-size: 1.3rem;
  margin: 0 0 5% 0;
  color: var(--accentColor);
}

.main-contents p {
  width: 100%;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #000;
}

/* 323Marche Selection */

.food-contents-wrapper,
.past-posts-wrapper,
.future {
  width: fit-content;
}

.food-contents-wrapper dl .show-wrapper,
.past-posts-wrapper dl .show-wrapper {
  min-width: 350px;
  overflow-x: scroll;
  display: flex;
  margin: 0 auto;
}
.main-contents .show {
  flex: 0 0 250px;
  margin: 0 2% 0 2%;
}

.food-contents-wrapper dd,
.past-posts-wrapper dd {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}

.food-contents-wrapper dd p,
.past-posts-wrapper dd p {
  font-size: 1.1rem;
  margin-bottom: 2%;
}
.food-contents-wrapper .title2,
.past-posts-wrapper .title2,
.future .title2 {
  font-weight: 800;
}

.food-contents-wrapper p {
  font-weight: 600;
}

.food-contents-wrapper video {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.future h2 {
  padding-bottom: 3%;
}
.future p {
  font-size: 1rem;
  margin-top: 2%;
}

@media screen and (min-width:428px) {
  #contents {
    width: 80%;
    margin: 0 auto;
  }

  #contents .event-contents-wrapper {
    display: flex;
    justify-content: space-between;
  }

}