@charset "utf-8";

/* MAIN CONTENTS */
.main-contents {
  width: 100%;
  padding: 5% 5% 5% 5%;
  position: relative;
}

.flower {
  width: 30%;
  position: absolute;
  top: 10;
  right: 5%;
  transform: rotate(-20deg);
  opacity: 0.4;
}
.flower:nth-child(2) {
  top: 210px;
  left: 10%;
  width: 40%;
  filter: invert(50%);
}

.main-contents .contents-title {
  margin-top: 10%;
}
.main-contents .title2 {
  font-size: 1.3rem;
  margin: 5% 0 5% 0;
  color: var(--accentColor);
}

.main-contents p {
  width: 100%;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #000;
}

/* Event calendar */
.event-contents-wrapper,
.past-posts-wrapper,
.future {
  width: 100%;
  margin-top: 10%;
}

.event-contents-wrapper dd,
.past-posts-wrapper dd {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}
.event-contents-wrapper .title2,
.past-posts-wrapper .title2,
.future .title2 {
  font-weight: 800;
}

.event-contents-wrapper p {
  font-weight: 600;
}

.event-contents-wrapper video {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.future h2 {
  padding-bottom: 3%;
}
.future p {
  font-size: 1rem;
  margin-top: 2%;
}

@media screen and (min-width:428px) {
  #contents {
    width: 80%;
    margin: 0 auto;
  }

  #contents .event-contents-wrapper {
    display: flex;
    justify-content: space-between;
  }

}