@charset "utf-8";

/* .hero {
  width: 100%;
  height: 100vh;
  background: #000;
}
.hero-movie {
  filter: invert(100%);
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 10%;
} */

.handling {
    background-image: url(../img/monochrome/jess-bailey-6ijyKzeRiBo.jpg);
  }
  
  .future-handling-contents {
  background-image: url(../img/monochrome/jess-bailey-6ijyKzeRiBo.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #fff;
}
.sign {
    width: 50%;
    aspect-ratio: 1;
    z-index: 10;
    background-color: #fff;
    clip-path: polygon(0 97%, 90% 97%, 90% 90%, 100% 100%, 60% 100%, 60% 100%, 0 100%);
    position: relative;
}
.signChange {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    animation: sign 3s ease-in 1.5s infinite;
}
@keyframes sign {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

/* cards */
.card-wrapper {
    width: 90%;
    margin: 0 auto 5%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    flex-basis: auto;
}
.card {
    box-shadow: 2px 2px 5px #0000006a;
    padding: 2%;
    min-width: 20%;
}
.card img {
    display: block;
    width: 90%;
    margin: 0 auto;
    aspect-ratio: 1;
    object-fit: cover;
    flex-grow: 1;
    max-height: 400px;
}
.card p {
    padding: 3%;
    text-align: center;
}

.type-description p {
    line-height: 2;
}


@media screen and (max-width: 600px) {
    
    
    
    
    /* cards */
    .card {
        height: 20vh;
        overflow: hidden;
    }
    .card p {
        width: 100%;
        padding: 2%;
    }
    
    .type-description p {
        line-height: 1.6;
    }
    
    
  }