@charset "utf-8";

  
.handling {
    background-image: url(../img/part/part2-bg.jpg);
}




/* cards */
.card-wrapper {
    width: 90%;
    margin: 0 auto 5%;
}
.card {
    box-shadow: 2px 2px 5px #0000006a;
    width: 70%;
    margin-bottom: 5%;
}
.card img {
    width: 100%;
}

.card:nth-child(2) {
    margin: 0 0 5% auto;
}

.type-description p {
    line-height: 2;
}

.contents-description dt {
    font-size: 1rem;
    font-weight: bold;
}
.contents-description dd {
    font-size: 1rem;
    margin-left: 1.5em;
}
.contents-description .bx {
    font-size: 1rem;
    margin-right: 0.5em;
}
  

  @media screen and (max-width: 600px) {
    
    
    
    
    /* cards */
    .card {
        height: 20vh;
        overflow: hidden;
    }
    .card p {
        width: 100%;
        padding: 2%;
    }
    
    .type-description p {
        line-height: 1.6;
    }
    
    
  }