@charset "utf-8";


#handling3 video {
    width: 100%;
    height: 100%;
}

#handling3 .part-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* cards */
.card-wrapper {
    width: 90%;
    margin: 0 auto 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
}
.card {
    box-shadow: 2px 5px 8px #0000006a;
    padding: 2%;
    width: 40%;
    margin-bottom: 8%;
    position: relative;
    z-index: 1;
    perspective: 1000px;;
}

.horizontal-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horizontal-card-wrapper .card {
  box-shadow: 2px 2px 5px #0000006a;
  padding: 2%;
  width: 80%;

}
.card img {
    display: block;
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
    transform-style: preserve-3ds;
}
.card p {
    padding: 3%;
    text-align: center;
}

.type-description p {
    line-height: 2;
}

  

  @media screen and (max-width: 600px) {
    
    
    
    /* cards */
    .card {
        height: 20vh;
        overflow: hidden;
    }
    .card p {
        width: 100%;
        padding: 2%;
    }
    
    .type-description p {
        line-height: 1.6;
    }
    
  }