@charset "utf-8";


.handling {
    background-image: url(../img/part/part1-bg.jpg);
}




/* cards */
.card-wrapper {
    width: 90%;
    margin: 0 auto 5%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    flex-basis: auto;
}
.card {
    box-shadow: 2px 2px 5px #0000006a;
    padding: 2%;
    min-width: 20%;
}
.card img {
    display: block;
    width: 90%;
    margin: 0 auto;
    aspect-ratio: 1;
    object-fit: cover;
    flex-grow: 1;
    max-height: 400px;
}
.card p {
    padding: 3%;
    text-align: center;
}

.type-description p {
    line-height: 2;
}


@media screen and (max-width: 600px) {
    
    
    
    
    /* cards */
    .card {
        height: 20vh;
        overflow: hidden;
    }
    .card p {
        width: 100%;
        padding: 2%;
    }
    
    .type-description p {
        line-height: 1.6;
    }
    
    
  }