@charset "utf-8";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poiret One', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}


:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --site-big: 36;
  --depth: 3000px;
  --transition: .75s cubic-bezier(.075, .5, 0, 1)
}

/* 3ds */

.scroll3d {
  width: 100%;
  /* overflow-y: hidden;
  overflow-x: auto; */
  background-color: #000000;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.8;
  height: var(--depth);
  font-weight: 300;
}

.scroll-container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 2000px;
}

.scroll-container .gallery {
  transform-style: preserve-3d;
  height: 100%;
}
.scroll-container .gallery .frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition), opacity 1s ease;
  will-change: transform;
  transform-style: preserve-3d;
}

.scroll-container .gallery .frame_content h2 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  font-size:  calc(var(--index) * 3.3);
  width: min-content;
}
.scroll-container .gallery .frame_content h3 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  font-size:  calc(var(--index) * 2.5);
  text-align: left;
}
.scroll-container .gallery .frame_content p {
  font-weight: 100;
  font-size:  calc(var(--index) * 1.2);
}


.scroll-container .gallery .frame-media {
  position: relative;
  width: calc(var(--index) * var(--side-small));
  height: calc(var(--index) * var(--side-big));
  background-position: center;
  background-size: cover;
}
.scroll-container .gallery .frame-media video {
  width: 100%;
}
.scroll-container .gallery .frame-media-left {
  right: calc(var(--side-small) /2 * var(--index));
}
.scroll-container .gallery .frame-media-right {
  left: calc(var(--side-small) /2 * var(--index));
}
.scroll-container .gallery .frame-bg {
  background-color: #000000f0;
}

video.frame-media, .frame-media {
  width: calc(var(--index) * var(--side-big));
  height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
  left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
  right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.top-movie {
  filter: invert(100%);
}



/* contents */

.contents {
  width: 100%;
  height: 100vh;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 10%;
  position: relative;
  background-image: url(../img/Horizontal/feather-3010848_1920.jpg);
  background-size: cover;
  overflow-y: hidden;
  mix-blend-mode: difference;
}

.contents .hero {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contents-title {
  width: 50%;
  display: flex;
}
.contents-title h1, i {
  font-size: 2.5rem;
  margin-bottom: 2%;
  text-wrap: nowrap;
}
.contents-title span {
  color: #ff35b5;
}
.contents-sub-title span {
  color: #338fb7;
}
.contents .toggle-icon {
  margin-left: 10%;
}

.contents .contents-sub-title {
  font-size: 2rem;
  margin-bottom: 5%;
}

.contents .caption-list .caption {
  margin-bottom: 3%;
  cursor: pointer;
}
.contents .caption-list .caption h2 {
  position: relative;
}


.contents .caption-list .caption h2 .border {
  position: absolute;
  bottom: -10%;
  left: 0;
  display: inline-block;
  width: 0%;
  height: 10%;
  background: -webkit-linear-gradient(left, #ff35b5, #00b3ff, #96cb4b);
  z-index: 10;
  transition: all 0.5s;
}
.contents .caption-list .caption h2:hover {
  background: -webkit-linear-gradient(left, #ff35b5, #00b3ff, #96cb4b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color_position 5s ease-in infinite alternate;
  transition: all 5s;
}
.contents .caption-list .caption h2:hover .border {
  width: 100%;
}


.contents .hero .img {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* contents.active */
.contents.active {
  animation: filter 1.5s forwards;
}

@keyframes filter {
  0% {
    filter: invert(0%);
  }
  100% {
    filter: invert(100%);
  }
}

.contents.active header {
  background-color: #fff;
  filter: invert(100%);
}

/* part-contents */
.part {
  width: 70%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .6s;
}
.part-contents {
  width: 100%;
}
.part .part-contents h2 {
  font-size: 2rem;
  padding-top: 1.5em;
}
.part .part-contents .text {
  margin: 8%;
}
.part .part-contents p {
  line-height: 2;
  padding-bottom: 2%;
}
.part .content {
  width: 100%;
  height: 100%;
  background-color: #ffffff5d;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 3px solid #338fb7; */
  /* overflow-x: scroll; */
  position: relative;
}


.part .close-icon {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 5%;
  color: #000000;
  z-index: 10;
}

.part.active {
  transform: rotate(0deg);
}

.part a {
  width: 15%;
  background-color: #bebebea9;
  padding: 10px 3%;
  border-radius: 10px;
  margin-bottom: 5%;
}
.part .btn {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  padding-bottom: 5%;;
}
.part a:hover {
  background: -webkit-linear-gradient(left, #ff35b5, #00b3ff, #96cb4b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color_position 5s ease-in infinite alternate;
  transition: all 5s;
}
.part .btn:hover a {
  background-color: transparent;
}


