@charset "utf-8";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}

:root {
  --BG: #c489e3;
  --accent: #510043;
  --pop: #cc4d4d;
  --index: calc(1vw + 1vh);
}

/* スクロールFADE */


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--accent);
  width: 100vw;
  overflow-x: hidden;
}

/* HEADER FOOTER 共通 */
.logo {
  width: 15%;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  z-index: 100;
  transform: translateY(-480%);
  transition: all 0.8s;
  /* background-color: var(--BG); */
  animation: open 0.8s ease-in 0.2s forwards;
}

@keyframes open {
  to {
    transform: translateY(0%);
  }
}

.header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-inner .logo {
  transform: translate(5%, 30%);
}

.toggle {
  display: none;
  width: 35%;
  aspect-ratio: 1;
  background-image: url(../img/icon/menu_FILL0_wght400_GRAD0_opsz24.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.toggle.show {
  background-image: url(../img/icon/close_FILL0_wght400_GRAD0_opsz24.png);
}

.menu-list {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
.list {
  margin-left: 30px;
  color: var(--pop);
  font-weight: 600;
  position: relative;
}

.list span {
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(3px);
  background-color: #cc4d4d;
  transition: all 0.3s;
}
.list:hover {
  color: #fff;
}
.list:hover span {
  width: 100%;
}

/* MAIN */
main {
  width: 100%;
  height: fit-content;
}

/* GO-BANNER
.go-banner {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7171;
  opacity: 0;
  position: sticky;
  bottom: 0;
  left: 0;
}
.go-banner button {
  width: 30%;
  border: 1px solid #cc4d4d;
  border-radius: 20px;
  line-height: 2;
  background-color: #cc4d4d;
  color: #fff;
}
.go-banner a {
  width: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-banner a img {
  width: 20%;
}
.go-banner a p {
  width: 100%;
  margin-top: 0;
  margin-left: 5%;
} */

/* FOOTER */
footer {
  width: 100%;
  background-color: var(--BG);
  text-align: right;
  transform: translateZ(-1px);
  background-color: #000000;
  color: #fff;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.footer-inner .menu-list {
  margin-top: 5%;
}
small {
  margin-right: 3%;
}

/* Fade */
.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}

@media screen and (max-width: 720px) {
  
  body {
    font-size: 12px;
  }
  .header-inner .logo {
    width: 30%;
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-10px, 30px);
    width: 25%;
    display: grid;
    place-items: center;
  }
  .header-menu .toggle {
    filter: invert(100%);
  }
  header .menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.6s ease-in-out;
    line-height: 2;
    font-size: calc((var(--index)) * 1.6);
  }
  .menu-list.show {
    opacity: 1;
    transform: translateX(-20%);
  }
  

  .toggle {
    display: block;
  }

  footer .logo {
    width: 50%;
  }

}